#Virtual env
buildozer-env/
# Additional virtualenvs
venv/
.venv/
# build artifacts
*.apk
/bin/
# Python cache
__pycache__/
*.pyc

# Log files
*.log

# Buildozer output
dist/
build/
.buildozer/
*.keystore

# Android build cache
.gradle/

